<div>
    <form name="eventform" novalidate>
        <fieldset>
            <legend>Basic info</legend>
            <div class="row">
                <div class="form-group col-md-12">
                    <label for="eventTitleid" class="control-label">Event title</label>
                    <input class="form-control" id="eventTitleid" name="eventTitle" type="text"
                           placeholder="Enter event title" required hrt-btr-validation
                           ng-model="cCtrl.current.name">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="placeLongitudeId" class="control-label">Place longitude</label>
                    <input class="form-control" id="placeLongitudeId" name="placeLongitudeId" type="text"
                           placeholder="Enter event longitude" required hrt-btr-validation
                           ng-model="cCtrl.current.location.longitude">
                </div>
                <div class="form-group col-md-6">
                    <label for="placeLatitudeId" class="control-label">Place latitude</label>
                    <input class="form-control" id="placeLatitudeId" name="placeLatitudeId" type="text"
                           placeholder="Enter event latitude" required hrt-btr-validation
                           ng-model="cCtrl.current.location.latitude">
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Date</legend>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="startDateId" class="control-label">Event start date</label>
                    <p class="input-group">
                        <input type="text" id="startDateId" class="form-control" uib-datepicker-popup
                               ng-model="cCtrl.current.eventStartDate" is-open="cCtrl.popup.startDate"
                               datepicker-options="cCtrl.dateOptions"
                               placeholder="YYYY-MM-DD" name="startDatePick" close-text="Close"
                               hrt-btr-validation/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default"
                                    ng-click="cCtrl.togglePopup($event, 'startDate')">
                                <i class="fa fa-book"></i>
                            </button>
                        </span>
                    </p>
                </div>
                <div class="form-group col-md-6">
                    <label for="endDateId" class="control-label">Event end date</label>
                    <p class="input-group">
                        <input type="text" id="endDateId" class="form-control" uib-datepicker-popup
                               ng-model="cCtrl.current.eventEndDate" is-open="cCtrl.popup.endDate"
                               datepicker-options="cCtrl.dateOptions"
                               placeholder="YYYY-MM-DD" name="endDatePick" close-text="Close"
                               hrt-btr-validation/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default"
                                    ng-click="cCtrl.togglePopup($event, 'endDate')">
                                <i class="fa fa-book"></i>
                            </button>
                        </span>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="startDateTimeId" class="control-label">Event start time</label>
                    <div uib-timepicker id="startDateTimeId" ng-model="cCtrl.current.eventStartDate"
                         minute-step="15" show-meridian="false"></div>
                </div>
                <div class="form-group col-md-6">
                    <label for="endDateTimeId" class="control-label">Event end time</label>
                    <div uib-timepicker id="endDateTimeId" ng-model="cCtrl.current.eventEndDate"
                         minute-step="15" show-meridian="false"></div>
                </div>
            </div>
        </fieldset>
    </form>
    <div class="row">
        <div class="col-md-12 form-footer text-center">
            <button type="button" class="btn btn-default" ui-sref="cCtrl.cancel()">Cancel</button>
            <button type="button" class="btn btn-danger" ng-if="cCtrl.current.id"
                    ng-click="cCtrl.remove(cCtrl.current)">Delete
            </button>
            <button type="button" class="btn btn-success" ng-if="cCtrl.current.id"
                    ng-click="cCtrl.saveEvent(cCtrl.current)"
                    ng-disabled="eventform.$invalid || eventform.$pristine">Update
            </button>
            <button type="button" class="btn btn-success" ng-if="!cCtrl.current.id"
                    ng-click="cCtrl.saveEvent(cCtrl.current)"
                    ng-disabled="eventform.$invalid || eventform.$pristine">Add
            </button>
            <button type="button" class="btn btn-info" ng-if="cCtrl.current.id" ng-click="cCtrl.create()">New Event
            </button>
        </div>
    </div>
</div>