<!DOCTYPE html>
<html lang="en" ng-app="teammateApp" ng-controller="AppCtrl as appCtrl">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title ng-bind="pageTitle"></title>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>"/><% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>

    <!-- start template tags -->
    <!-- end template tags -->

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" >
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" ng-init="menuCollapsed = true"
                    ng-click="menuCollapsed = ! menuCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">TeamMate v<%= version %></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" collapse="menuCollapsed">
            <ul class="nav navbar-nav navbar-right">
                <li ui-sref-active="active">
                    <a href ui-sref="home">
                        <i class="fa fa-home"></i>
                        Home
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a href ui-sref="contact">
                        <i class="fa fa-info-circle"></i>
                        What is it?
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a href ui-sref="projectlist">
                        <i class="fa fa-comments"></i>
                        Projects
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a href ui-sref="projectnav.about">
                        <i class="fa fa-comments"></i>
                        Project
                    </a>
                </li>
                <li class="nav-item" ui-sref-active="active">
                    <a class="nav-link" href ui-sref="managementUser">
                        <i class="fa fa-info-circle"></i>
                        Create User
                    </a>
                </li>
                <li class="nav-item" ui-sref-active="active">
                    <a class="nav-link" href ui-sref="managementProject">
                        <i class="fa fa-info-circle"></i>
                        Create Project
                    </a>
                </li>
                <li ui-sref-active="active" ng-hide="appCtrl.isAuthenticated()">
                    <a href ui-sref="login">
                        <i class="fa fa-info-circle"></i>
                        Login
                    </a>
                </li>
                <li ng-show="appCtrl.isAuthenticated()">
                    <a href="#" ng-click="appCtrl.logout()">
                        <i class="fa fa-info-circle"></i>
                        Logout
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Other Pages <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="full-width.html">Urlop</a>
                        </li>
                        <li>
                            <a href="sidebar.html">Home office</a>
                        </li>
                        <li>
                            <a href="faq.html">Godziny pracy</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>
</nav>

<!-- Page Content -->
<div class="container" ui-view="main">
</div>
<!-- /.container -->

<footer class="footer">
    <div class="container">
        <div class="footer-inner">
            <ul class="social">
                <li><a target="_blank" href="http://gplus.to/joshdmiller"><i class="fa fa-google-plus-sign"></i></a>
                </li>
                <li><a target="_blank" href="http://twitter.com/joshdmiller"><i class="fa fa-twitter-sign"></i></a></li>
                <li><a target="_blank" href="http://linkedin.com/in/joshdmiller"><i class="fa fa-linkedin-sign"></i></a>
                </li>
                <li><a target="_blank" href="http://github.com/ngbp/ngbp"><i class="fa fa-github-sign"></i></a></li>
            </ul>


            <p>
                (c) 2013 <a href="http://www.joshdavidmiller.com">Josh David Miller</a>.
                <a href="http://github.com/ngbp/ngbp/fork_select">Fork this</a>
                to kickstart your next project.
                <br/>
                ngbp is based on
                <a href="http://www.angularjs.org">AngularJS</a>,
                <a href="http://getbootstrap.com">Bootstrap</a>,
                <a href="http://angular-ui.github.com/bootstrap">UI Bootstrap</a>,
                and
                <a href="http://fortawesome.github.com/Font-Awesome">Font Awesome</a>.
            </p>
        </div>
    </div>
</footer>
</body>
</html>
