<!DOCTYPE html>
<html lang="en" ng-app="teammateApp" ng-controller="AppCtrl as appCtrl">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title ng-bind="pageTitle"></title>

    <script src="https://use.fontawesome.com/24d2814fc6.js"></script>

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>"/><% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>

    <!-- start template tags -->
    <!-- end template tags -->

</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" >
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" ng-init="menuCollapsed = true"
                    ng-click="menuCollapsed = ! menuCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href ui-sref="home"><i class="fa fa-users"></i><b> TeamMate</b></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" collapse="menuCollapsed">
            <ul class="nav navbar-nav navbar-right">
                <li ui-sref-active="active">
                    <a href ui-sref="home">
                        <i class="fa fa-home"></i>
                        Home
                    </a>
                </li>
                <li ui-sref-active="active" ng-show="appCtrl.isAuthenticated()">
                    <a href ui-sref="projectlist">
                        <i class="fa fa-handshake-o"></i>
                        Projects
                    </a>
                </li>
                <li class="dropdown" ng-show="appCtrl.isAuthenticated()">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-cogs"></i> Management <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="nav-item" ui-sref-active="active">
                            <a class="nav-link" href ui-sref="managementUser">
                                <i class="fa fa-user-o"></i>
                                Create User
                            </a>
                        </li>
                        <li class="nav-item" ui-sref-active="active">
                            <a class="nav-link" href ui-sref="managementProject">
                                <i class="fa fa-suitcase"></i>
                                Create Project
                            </a>
                        </li>
                    </ul>
                </li>
                <li ui-sref-active="active">
                    <a href ui-sref="contact">
                        <i class="fa fa-envelope-open-o"></i>
                        Contact
                    </a>
                </li>
                <li ui-sref-active="active" ng-hide="appCtrl.isAuthenticated()">
                    <a href ui-sref="login">
                        <i class="fa fa-sign-in"></i>
                        Login
                    </a>
                </li>
                <li ng-show="appCtrl.isAuthenticated()">
                    <a href="#" ng-click="appCtrl.myProfile()">
                        <i class="fa fa-user-circle"></i>
                        My Profile
                    </a>
                </li>
                <li ng-show="appCtrl.isAuthenticated()">
                    <a href="#" ng-click="appCtrl.logout()">
                        <i class="fa fa-sign-out"></i>
                        Logout
                    </a>
                </li>
            </ul>
        </div>

    </div>
</nav>

<div class="container" ui-view="main">
</div>

<footer class="footer">
    <div class="container">
        <hr>
    </div>
</footer>
</body>
</html>
