<div>
    <h1 class="page-header">Definiowanie Taska</h1>
    <p>Wprowadz dane niezbędne do utworzenia taska</p>
    <form name="taskform" novalidate>
        <fieldset>
            <legend>Informacje podstawowe</legend>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="taskName" class="control-label">Nazwa taska (wymagane)</label>
                        <input class="form-control" id="taskName" placeholder="Nazwa taska"
                               ng-model="tmCtrl.current.name" ng-minlength="3" required hrt-btr-validation>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="taskID" class="control-label">Identyfikator</label>
                        <pre ng-if="tmCtrl.current.id" id="taskID" style="padding:6px; margin: 1px;"><b>{{tmCtrl.current.id}}</b></pre>
                        <pre ng-if="!tmCtrl.current.id" id="taskID" style="padding:6px; margin: 1px;"><b>N/A</b></pre>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="storyPoints" class="control-label">Story pointy (wymagane)</label>
                        <input id="storyPoints" class="form-control" ng-model="tmCtrl.current.storyPoints"
                               placeholder="Liczba story pointów"
                               required hrt-btr-validation/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="contractorId" class="control-label">Właściciel (wymagane)</label>
                        <ui-select id="contractorId" ng-model="tmCtrl.current.contractor" required hrt-btr-validation>
                            <ui-select-match placeholder="Wybierz wykonawce zadania">
                                <span>{{tmCtrl.current.contractor.name}} {{tmCtrl.current.contractor.surname}}</span>
                            </ui-select-match>
                            <ui-select-choices
                                    repeat="user in (tmCtrl.users | filter: $select.search) track by user.name">
                                <span ng-bind-html="user.name | highlight: $select.search"></span>
                                <span ng-bind-html="user.surname | highlight: $select.search"></span>&nbsp;
                                <small ng-bind-html="user.email | highlight: $select.search"></small>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="descriptionId" class="control-label">Opis zadania (wymagane)</label>
                        <textarea id="descriptionId" ng-model="tmCtrl.current.description" class="form-control" rows="3"
                                  required hrt-btr-validation
                                  placeholder="Jako [ _użytkownik_ ] chcę [ _funkcjonalność_ ] aby móc [ _rezultat_ ]">
                        </textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="estimateId" class="control-label">Estymacja godzin (wymagane)</label>
                        <input id="estimateId" class="form-control" ng-model="tmCtrl.current.estimatedHours"
                               placeholder="Liczba story pointów" required hrt-btr-validation/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="statusId" class="control-label">Status</label>
                        <pre id="statusId" style="padding:6px; margin: 1px;"><b>{{tmCtrl.current.status}}</b></pre>
                    </div>
                </div>
            </div>
        </fieldset>
        <br>
        <fieldset ng-if="tmCtrl.current.id">
            <legend>Worklog</legend>
            <h4>Task progressbar</h4>
            <uib-progressbar class="progress-striped" max="tmCtrl.current.estimatedHours" value="tmCtrl.loggedHours">
                <span style="color:white; white-space:nowrap;">{{tmCtrl.loggedHours}} / {{tmCtrl.current.estimatedHours}}</span>
            </uib-progressbar>
            <table class="table">
                <tr>
                    <th class="col-md-2">Date modified</th>
                    <th class="col-md-2">Work date</th>
                    <th class="col-md-1">Working hours</th>
                    <th class="col-md-5">Desctiption</th>
                    <th class="col-md-1"></th>
                </tr>
                <tr ng-repeat="worklog in tmCtrl.current.worklogs">
                    <td>{{worklog.dateUpdate | date}}</td>
                    <td>{{worklog.workDate | date}}</td>
                    <td>{{worklog.workingHours}}</td>
                    <td>{{worklog.description}}</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <p class="input-group">
                            <input type="text" id="newWorkdateId" class="form-control" uib-datepicker-popup
                                   ng-model="tmCtrl.newWorklog.workDate"
                                   is-open="tmCtrl.popup.workDate" datepicker-options="tmCtrl.dateOptions"
                                   placeholder="YYYY-MM-DD" name="datepick" close-text="Close"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="tmCtrl.togglePopup($event)"><i
                                        class="fa fa-book"></i></button>
                            </span>
                        </p>
                    </td>
                    <td>
                        <input id="newWorkhoursId" class="form-control" type="number"
                               ng-model="tmCtrl.newWorklog.workingHours"
                               placeholder="Work hours"/>
                    </td>
                    <td>
                        <input id="newDescriptionId" class="form-control" ng-model="tmCtrl.newWorklog.description"
                               placeholder="Short description"/>
                    </td>
                    <td>
                        <button class="btn btn-primary" ng-click="tmCtrl.addWorklog()">Add</button>
                    </td>
                </tr>
            </table>
        </fieldset>

    </form>
    <div class="row">
        <div class="col-md-12 form-footer text-center">
            <button type="button" class="btn btn-default" ng-click="tmCtrl.cancel()">Anuluj</button>
            <button type="button" class="btn btn-danger" ng-if="tmCtrl.current.id"
                    ng-click="tmCtrl.remove(tmCtrl.current)">Usun
            </button>
            <button type="button" class="btn btn-success" ng-if="tmCtrl.current.id"
                    ng-click="tmCtrl.saveTask(tmCtrl.current)"
                    ng-disabled="taskform.$invalid || taskform.$pristine">Aktualizuj
            </button>
            <button type="button" class="btn btn-success" ng-if="!tmCtrl.current.id"
                    ng-click="tmCtrl.saveTask(tmCtrl.current)"
                    ng-disabled="taskform.$invalid || taskform.$pristine">Dodaj
            </button>
            <button type="button" class="btn btn-info" ng-if="tmCtrl.current.id" ng-click="tmCtrl.create()">Nowy task
            </button>
        </div>
    </div>
</div>