<div>
    <div>
        <h1 class="page-header">Wydarzenia</h1>
    </div>
    <div class="row">
        <!--/ FORM VIEW-->
        <div class="col-md-6">
            <form name="eventform" novalidate>
                <fieldset>
                    <legend>Informacje podstawowe</legend>
                    <div class="row">
                        <div class="form-group">
                            <label for="eventTitleid" class="control-label">Tytuł wydarzenia</label>
                            <input class="form-control" id="eventTitleid" name="eventTitle" type="text"
                                   placeholder="Podaj tytuł wydarzenia">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label for="ownerid" class="control-label">Założyciel wydarzenia</label>
                            <input class="form-control" id="ownerid" name="owner"
                                   type="text" placeholder="Podaj założyciela wydarzenia">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label for="startDateId" class="control-label">Data rozpoczęcia</label>
                            <p class="input-group">
                                <input type="text" id="startDateId" class="form-control" uib-datepicker-popup
                                       ng-model="cCtrl.current.eventStartDate" is-open="cCtrl.popup.startDate"
                                       datepicker-options="cCtrl.dateOptions"
                                       placeholder="YYYY-MM-DD" name="startDatePick" close-text="Zamknij"
                                       hrt-btr-validation/>
                                <span class="input-group-btn">
                                <button type="button" class="btn btn-default"
                                        ng-click="cCtrl.togglePopup($event, 'startDate')"><i
                                        class="fa fa-book"></i></button>
                            </span>
                            </p>
                        </div>
                        <div class="form-group">
                            <label for="startDateTimeId" class="control-label">Godzina rozpoczęcia</label>
                            <div uib-timepicker id="startDateTimeId" ng-model="cCtrl.current.eventStartDate"
                                 minute-step="15"
                                 show-meridian="false"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label for="startDateId" class="control-label">Data rozpoczęcia</label>
                            <p class="input-group">
                                <input type="text" id="endDateId" class="form-control" uib-datepicker-popup
                                       ng-model="cCtrl.current.eventEndDate" is-open="cCtrl.popup.endDate"
                                       datepicker-options="cCtrl.dateOptions"
                                       placeholder="YYYY-MM-DD" name="endDatePick" close-text="Zamknij"
                                       hrt-btr-validation/>
                                <span class="input-group-btn">
                                <button type="button" class="btn btn-default"
                                        ng-click="cCtrl.togglePopup($event, 'endDate')"><i
                                        class="fa fa-book"></i></button>
                            </span>
                            </p>
                        </div>
                        <div class="form-group">
                            <label for="endDateTimeId" class="control-label">Godzina zakończenia</label>
                            <div uib-timepicker id="endDateTimeId" ng-model="cCtrl.current.eventEndDate"
                                 minute-step="15"
                                 show-meridian="false"></div>
                        </div>
                    </div>
                </fieldset>
            </form>
            <!--<div class="row">-->
            <!--<div class="col-md-12 form-footer text-center">-->
            <!--<button type="button" class="btn btn-default" ui-sref="projectnav.about">Anuluj</button>-->
            <!--<button type="button" class="btn btn-danger" ng-if="uCtrl.current.id"-->
            <!--ng-click="uCtrl.remove(uCtrl.current)">-->
            <!--Usun-->
            <!--</button>-->
            <!--<button type="button" class="btn btn-success" ng-if="uCtrl.current.id" ng-click="uCtrl.save(uCtrl.current)"-->
            <!--ng-disabled="eventform.$invalid || eventform.$pristine">Aktualizuj-->
            <!--</button>-->
            <!--<button type="button" class="btn btn-success" ng-if="!uCtrl.current.id" ng-click="uCtrl.save(uCtrl.current)"-->
            <!--ng-disabled="eventform.$invalid || eventform.$pristine">Dodaj-->
            <!--</button>-->
            <!--<button type="button" class="btn btn-info" ng-if="uCtrl.current.id" ng-click="uCtrl.create()">Nowy-->
            <!--użytkownik-->
            <!--</button>-->
            <!--</div>-->
            <!--</div>-->
            <!--/ END OF FORM VIEW-->
        </div>
        <!-- CALENDAR VIEW -->
        <div class="col-md-6">
            <div ui-calendar ng-model="cCtrl.eventSources"></div>
        </div>
    </div>
    <div class="row">
        <!-- Embedded Google Map -->
        <iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                src="http://maps.google.com/maps?hl=en&amp;ie=UTF8&amp;ll=37.0625,-95.677068&amp;spn=56.506174,79.013672&amp;t=m&amp;z=4&amp;output=embed"></iframe>
    </div>
</div>